[run]
branch = False
omit = 
	*/os/windows/*
	*/os/unix/constant.py

[report]
fail_under = 60
exclude_lines = 
	all: no cover
	# os-specific
	defensive code
	# + <os>-only and <os>: no cover
	# + py2-only or py3-only
	linux-only
	solaris-only
	windows-only
	bsd-only
	aix-only
	darwin: no cover
	unix: no cover
	py3-only

[html]
title = e3 coverage report

