repos:
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-builtins
          - flake8-comprehensions
          - flake8-docstrings
          - flake8-rst-docstrings
          - pygments
        args:
          - --config=.flake8
        name: flake8-7.1.1
  - repo: https://github.com/ambv/black
    rev: 25.1.0
    hooks:
      - id: black
        args:
          - --line-length=79
        name: black-25.1.0
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: \.py$
        exclude: ^(tests|doc)/.+$
        additional_dependencies:
          - types-PyYAML
          - types-setuptools
        name: mypy-1.14.1
